<%- include ("header") -%>

<h2>This is the about page</h2>

<p>Hello! Here is a list web app I created using EJS, Node express & CSS. Ideal for any day and also for the work day. Enjoy!</p>

<%- include ("footer") -%>
